Kinetic-GAN*/feeder/__pycache__/
Kinetic-GAN*/models/__pycache__/
Kinetic-GAN*/models/init_gan/__pycache__/
Kinetic-GAN*/utils/__pycache__/
Kinetic-GAN*/visualization/__pycache__/
Kinetic-GAN*/runs*/
Kinetic-GAN*/tensorboard_runs*/